a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
  color: black;
  opacity: .5;
}

a:any-link {
    color: black;
}

::selection {
    background-color: azure;
}

/* instructional code snippets for editing link attributes sourced from https://www.w3schools.com/css/css_link.asp */

h1 {
    font-family: "Uchen", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    font-size: 40px;
}

h2 {
    font-family: "Uchen", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    text-decoration: underline;

}

h3 {
    font-family: "Uchen", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    
}


h1 a {
    color: black;
    text-decoration: none;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

ol {
    font-family: "Uchen", sans-serif;
    font-weight: 400;
    font-size: 11pt;
    font-style: normal;
    border-right: solid;
    border-left: solid;
    border-width: thin;
    position:relative;
    margin: 50px;
    font-size: 16px;
    padding-right: 10px;
}

li a {
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    font-size: 25px;
    padding: 30px;
    text-decoration-line: none;
}

#headshot {    
    margin: 50px; 
}

p {
    font-family: "Uchen", sans-serif;
}


#pagetext {
    font-family: "Uchen", sans-serif;
    font-weight: 400;
    font-size: 14pt;
    font-style: normal;
    border-right: solid;
    border-left: solid;
    border-width: thin;
    position: relative;
    padding: 10px;
    width: 50%; 
    
}
body {
    background-color: #ebebe0;

}


.contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

footer {
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.headernavbar {
    display: flex;
    z-index: 10;
    background-color: rgb(216 224 215 / 50%);
    flex-wrap: wrap;
    position: fixed;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.resumesection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-right: solid;
    border-left: solid;
    border-width: thin;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
}

.pagecontent {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

table {
    width: 80%;
    margin: auto;
}

td {
    font-family: "Uchen", sans-serif;
    border: solid;
    border-width: thin;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}

th {
    font-family: "Uchen", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
}

#pdf {
    margin: 50%;
    justify-content: center;
}

.dates {
    font-size: 12px;
}

.subpoints {
    list-style-type:disc;
}
