a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
  color: black;
  opacity: .5;
}

a:any-link {
    color: black;
}

::selection {
    background-color: azure;
}


h1 {
    font-family: "Uchen", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    font-size: 40px;
}

h2 {
    font-family: "Uchen", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    text-decoration: underline;

}

h3 {
    font-family: "Uchen", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    
}


h1 a {
    color: black;
    text-decoration: none;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

ol {
    font-family: "Uchen", sans-serif;
    font-weight: 400;
    font-size: 11pt;
    font-style: normal;
    border-right: solid;
    border-left: solid;
    border-width: thin;
    position:relative;
    margin: 50px;
    padding-right: 10px;
}

li a {
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    font-size: 25px;
    padding: 30px;
    text-decoration-line: none;
}

#headshot {    
    margin: 50px; 
}

p {
    font-family: "Uchen", sans-serif;
}


#pagetext {
    font-family: "Uchen", sans-serif;
    font-weight: 400;
    font-size: 14pt;
    font-style: normal;
    border-right: solid;
    border-left: solid;
    border-width: thin;
    position: relative;
    padding: 10px;
    width: 50%; 
    
}
body {
    background-color: #ebebe0;

}


.contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

footer {
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.headernavbar {
    display: flex;
    z-index: 10;
    background-color: rgb(216 224 215 / 50%);
    flex-wrap: wrap;
    position: fixed;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.resumesection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-right: solid;
    border-left: solid;
    border-width: thin;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}

.pagecontent {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project-section {
    border-right: solid;
    border-left: solid;
    border-width: thin;
    margin-left: 20%;
    margin-right: 20%;
    padding: 30px;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
}

.aboutcontent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-right: solid;
    border-left: solid;
    border-width: thin;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}

.project-content {
    flex: 1;
}

.project-image {
    flex: 1;
    max-width: 45%;
}

.project-image img {
    width: 100%;
    height: auto;
    border: solid;
    border-width: thin;
}

@media (max-width: 968px) {
    .project-section {
        flex-direction: column;
    }
    .project-image {
        max-width: 100%;
    }
}

.project-title {
    font-family: "Uchen", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    margin-bottom: 10px;
    text-decoration: underline;   
}

.project-meta {
    font-family: "Uchen", sans-serif;
    font-size: 12px;
    color: #333;
    margin-bottom: 20px;
    font-style: italic;
}

.project-description {
    font-family: "Uchen", sans-serif;
    font-size: 10pt;
    line-height: 1.6;
    margin-bottom: 20px;
}

.project-description p {
    margin-bottom: 15px;
}

.project-links {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 25px;
}

.project-links a {
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    padding: 10px 20px;
    border: solid;
    border-width: thin;
    text-decoration: none;
    display: inline-block;
}

hr {
    border: none;
    border-top: solid;
    border-width: thin;
    margin: 40px 20%;
}


table {
    width: 80%;
    margin: auto;
}

td {
    font-family: "Uchen", sans-serif;
    border: solid;
    border-width: thin;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}

th {
    font-family: "Uchen", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
}

#pdf {
    margin: 50%;
    justify-content: center;
}

.dates {
    font-size: 12px;
}

.subpoints {
    list-style-type:disc;
}
